<!-- my page -->
{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>Add record</h1>
    <a href="{% url 'home' %}" class="btn btn-secondary mb-3">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/></svg>
      <span>
        Back
      </span>
    </a>
    <br/>
      <form method="POST" action="{% url 'add_record' %}">
        {% csrf_token %}

        {{ form.as_p }}          
        <button type="submit" class="btn btn-primary">Add Customer</button>
    </form>
    

</div>


{% endblock %}